{% extends '_base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block estilo %}
<link rel="stylesheet" type="text/css" href="static/css/estilos.css"/>
{% endblock estilo %}

{% block content%}
<div class="container">
  <div class= "row">
          <div class= "coluna1 ">
              <h1>Falamos sobre a Empresa</h1>
          </div>
          <div class="row">
            <div class="coluna2 ">
                <h5><p>Empresa é um sistema econômico-social organizado para produzir e ofertar produtos (bens ou serviços) que possam satisfazer às necessidades e desejos das pessoas, e com isto alcançar seus objetivos, sua sustentabilidade e continuidade. Em outras palavras, uma empresa cria riqueza e existe para atender aos interesses da sociedade.</p>

                    <p>Sistema composto por pessoas, conhecimentos, métodos, processos de trabalho, tecnologias, estrutura organizacional, políticas, normas e procedimentos, que interagem entre si gerando sinergia para o atingimento de objetivos predefinidos.</p>
                    
                </p>Considera-se empresário quem exerce profissionalmente atividade econômica organizada para a produção ou a circulação de bens ou de serviços (Código Civil).<p></h5>
            </div>
          </div>
    </div>
</div>
{% endblock content%}
    
    


